
/* required styles */

.book .book-body .page-wrapper .page-inner section.normal .gmisc_table table td,
.book .book-body .page-wrapper .page-inner section.normal .gmisc_table table th {
	padding: 2px 5px !important;
	border: none !important;
	background-color: #fff !important;
	}