p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

leaflet-control-fullscreen-button leaflet-bar-part {
        background: #fff url(tiernanmartin.github.io/COO-Displacement-Risk/3-communication/1-bookdown/_book/libs/fullscreen-1.0.1/fullscreen.png) no-repeat 0 0;
}