
/* general */


/* tables */

.book .book-body .page-wrapper .page-inner section.normal table{
        font-size: .85em !important;
        line-height: 1;
        overflow-wrap: normal;
        
}

.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
    background-color: transparent !important;
}

.pagedtable-header-name {
    overflow: visible;
    text-overflow: initial;
}

.pagedtable-wrapper {
  border: none !important;
  margin-bottom: 10px;
}



/* code chunks */

.book .book-body .page-wrapper .page-inner section.normal code, 
.book .book-body .page-wrapper .page-inner section.normal pre{
    line-height: 1em !important;
}
