
/* general */


/* tables */

.book .book-body .page-wrapper .page-inner section.normal table{
        font-size: .85em !important;
        line-height: 1;
        overflow-wrap: normal;
        
}

.pagedtable-header-name {
    overflow: visible;
    text-overflow: initial;
}


/* code chunks */

.book .book-body .page-wrapper .page-inner section.normal code, 
.book .book-body .page-wrapper .page-inner section.normal pre{
    line-height: 1em !important;
}
